* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: hsl(47, 88%, 63%);
	--grey-500: hsl(0, 0%, 42%);
	--grey-950: hsl(0, 0%, 7%);
}

body {
	background-color: var(--primary-color);
	font-family: 'Figtree', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--grey-950);
}

img {
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 24px;
}

.card {
	background-color: #fff;
	border: 1px solid var(--grey-950);
	border-radius: 20px;
	box-shadow: 8px 8px 0 var(--grey-950);
	padding: 24px;
	max-width: 382px;
	cursor: pointer;

	.hero-image {
		border-radius: 10px;
	}

	.card-content {
		margin: 1.25rem 0;
		.category-tag {
			display: inline-block;
			background-color: var(--primary-color);
			border-radius: 4px;
			font-size: 0.875rem;
			font-weight: 800;
			padding: 4px 14px;
			margin-bottom: 0.75rem;
		}

		.publish-date {
			font-size: 0.875rem;
			margin-bottom: 0.875rem;
		}

		.title {
			font-size: 1.5rem;
			margin-bottom: 0.875rem;
			transition: color 0.2s ease;

			&:hover {
				color: var(--primary-color);
			}
		}

		.excerpt {
			color: var(--grey-500);
		}
	}

	.author-info {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 12px;

		.author-avatar {
			width: 32px;
			height: 32px;
		}

		.author-name {
			font-size: 0.875rem;
			font-weight: 800;
		}
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 390px) {
	.card {
		.category-tag,
		.publish-date {
			font-size: 0.75rem;
		}

		.title {
			font-size: 1.25rem;
		}

		.excerpt {
			font-size: 0.875rem;
		}
	}
}
